[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
lxml = ">=4.6.5"
python-dateutil = "*"
pandas = "*"
requests = "*"
cssselect = "*"
flake8 = "*"
nose = "*"
pytest = "*"
kafka-python = "*"
pytest-cov = "*"
pytest-mock = "*"
minio = "*"
faker = "*"
mimesis = "*"
urllib3 = ">=1.26.5"
py = ">=1.10.0"
Pygments = ">=2.7.4"

[requires]
python_version = "3.7"
